<h3>Produtos</h3>
<hr>
<form>
  <div class="row">
    <div class="col col-sm-5">
      <label for="edNome">Nome</label>
      <input type="text"
              class="form-control"
              id="edNome"
              name="edNome"
              [(ngModel)]="editProduto.nome"
              placeholder="Informe o nome do imposto">
    </div>
    <div class="col col-sm-5">
      <label for="edCodigo">Código de Barras</label>
      <input type="text"
              class="form-control"
              id="edCodigo"
              name="edCodigo"
              [(ngModel)]="editProduto.codigoBarras"
              placeholder="Informe o código de barras">
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-5">
      <label for="selTipo">Tipo de Produto</label>
      <ng-select [(ngModel)]="editProduto.tipo" name="selTipo" id="selTipo">
          <ng-option *ngFor="let tipo of listTipos" [value]="tipo">{{tipo.nome}}</ng-option>
      </ng-select>

    </div>
    <div class="col col-sm-4">
      <label for="edValor">Valor Unitário</label>
      <input type="number"
              class="form-control"
              id="edValor"
              name="edValor"
              [(ngModel)]="editProduto.valorUnitario">
    </div>
    <div class="col col-sm-1 btadd">
      <button class="btn btn-primary"
              name="btAdd"
              *ngIf="!editMode"
              (click)="save();"
              id="btAdd">
        <i class="fas fa-plus-circle"></i>
      </button>
      <button class="btn btn-success"
              name="btUpdate"
              *ngIf="editMode"
              (click)="update();"
              id="btUpdate">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</form>
<div class="list-content" *ngIf="listProdutos.length > 0">
  <div class="row line">
    <div class="col col-sm-1"></div>
    <div class="col col-sm-1"></div>
    <div class="col col-sm-2"><h6>Produto</h6></div>
    <div class="col col-sm-2"><h6>Valor</h6></div>
  </div>
  <div class="row line" *ngFor="let prod of listProdutos;">
    <div class="col col-sm-1">
      <button class="btn btn-link"
              name="btEdit"
              (click)="edit(prod);"
              id="btEdit">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <div class="col col-sm-1">
      <button class="btn btn-link"
              name="btRemove"
              (click)="remove(prod);"
              id="btRemove">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="col col-sm-2">{{prod.nome}}</div>
    <div class="col col-sm-2">{{prod.valorUnitario}}</div>
  </div>
</div>
