.caixa-content{

}

.list-content{
  padding: 10px;
  margin-top:50px;
}

.line{
  border-bottom: 1px solid lightgray;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btadd{
  margin-top: 31px;
}


